/**
 * Created by chris on 2/20/2016.
 */
module.exports = {

    //Connection URL to mongoDB
    database_url : 'FULL DB CONNECTION URL',

    //Auth metadata for MailGun
    mailgun_auth: {
        auth: {
            api_key: 'MAILGUN API KEY',
            domain: 'MAILGUN DOMAIN URL'
        }
    }
};